!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  head
    title= ''
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="sketch-based modeling, finite element analysis")
    meta(name="description", content="Sketch-based modeling application")
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')

  body
    #menubar
      block menubar
    #viewport
      block viewport
    #sidebar
      block sidebar
    #cli
      block cli